
<h2>Demande compte applicatif </h2>

<div class="container">
  <div class="box">
    
      <h5>JDE Répertoire</h5>
      <input type="image" class="google" src="assets/images/panier.png"  width="70" height="60"/> 
  </div>
  <div class="box">
    
      <h5>AGIRH</h5>
      <input type="image" class="google" src="assets/images/panier.png"  width="70" height="60"/> 
  </div>
  <div class="box">
  
      <h5>JDE Finance</h5>
      <input type="image" class="google" src="assets/images/panier.png"  width="70" height="60"/> 
  </div>

</div>
<div class="container">
  <div class="box">
      
      <h5>QlikView NF</h5>
      <input type="image" class="google" src="assets/images/panier.png"  width="70" height="60"/> 
  </div>
  <div class="box">
     
      <h5>Lecteur PDF</h5>
      <input type="image" class="google" src="assets/images/panier.png"  width="70" height="60"/> 
  </div>
  <div class="box">
    
      <h5>JDE Achat</h5>
      <input type="image" class="google" src="assets/images/panier.png"  width="70" height="60"/>
     
  </div>

</div>
<div class="container">
  <div class="box">

      <h5>HAKA</h5>
      <input type="image" class="google" src="assets/images/panier.png"  width="70" height="60"/> 
      
  </div>
  <div class="box">
     
      <h5>JDE NF</h5>
      <input type="image" class="google" src="assets/images/panier.png"  width="70" height="60"/> 
     
  </div>

</div>






