
<h2>Demande de logiciels bureautiques	</h2>
<div class="container">
  <div class="box">
      <img src="assets/images/raw.png">
      <h5>Microsoft Word</h5>
      <input type="image" class="google" src="assets/images/panier.png"  width="70" height="60"/> 
  </div>
  <div class="box">
      <img src="assets/images/powerpoint.png">
      <h5>Power point</h5>
      <input type="image" class="google" src="assets/images/panier.png"  width="70" height="60"/> 
  </div>
  <div class="box">
      <img src="assets/images/excel.png">
      <h5>Microsoft Excel</h5>
      <input type="image" class="google" src="assets/images/panier.png"  width="70" height="60"/> 
  </div>

</div>
<div class="container">
  <div class="box">
      <img src="assets/images/unnamed.png">
      <h5>PDF</h5>
      <input type="image" class="google" src="assets/images/panier.png"  width="70" height="60"/> 
  </div>
  <div class="box">
      <img src="assets/images/vlc.png">
      <h5>VLC</h5>
      <input type="image" class="google" src="assets/images/panier.png"  width="70" height="60"/> 
  </div>
  <div class="box">
      <img src="assets/images/winRar.png">
      <h5>WinRar</h5>
      <input type="image" class="google" src="assets/images/panier.png"  width="70" height="60"/>
     
  </div>

</div>
